{% extends "article.base" %}
{% block content %}
<h1 class="display-1" class="center">忍耐</h1>


    <h4 class="pb-4 mb-4 font-italic border-bottom">
            Rennai is your first choice when in need of web application for your next great idea.</p>
    </h4>
<p>
  Get in touch for a great project. Tell us what you need and we'll figure out a fitting solution with you.
</p>

{% endblock content %}
