{% extends "base" %}
{% block content %}
<h1 class="display-1" align="center">忍耐</h1>
<h2 align="center">Rennai - here to help</h2>

    <p class="lead">
        Rennai is your first choice when in need of web application for your next great idea.</p>
    <p class="lead">
      <!-- a href="#" class="btn btn-lg btn-secondary">Learn more</a -->
    </p>

{% endblock content %}
