{% extends "base" %}
{% block content %}
<div align="left">
<h1>Showing showroom piece {{name}}</h1>
    <h3>Here are the items:</h3>
    <ul>
        {% for s in items %}
            <li>{{ s }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock content %}
